<div class="main">
	<div id="fullpage">
		<div class="section">
			<div class='row text-center main-page'>
				<div class='col-sm-8 col-sm-offset-2'>
					<h1 id="titlebankly">Bankly</h1>
					<p class='tag-line'>Visualize your spending</p>
					<% if !@user %>
						<button class='btn-xlarge btn-primary', data-toggle="modal" href='#modal-id1'>Login</button>
							<br />
						<p>New to the site? <a href='#modal-id2', data-toggle='modal'>Sign up!</a></p>				
					<% end %>
					<div id="circlearrow" class="row center-block">
					<div id="arrow" class="row center-block"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="section hidden-xs">
			<div class='row text-center'>
				<h1>About</h1>
				<div id="profiles">
					<div class="col-sm-3">
						<div class="profilepic center-block" id="mark"></div>
						<p class="name">Mark</p>
						<p>I am a full stack web developer from Seattle with a passion for creativity and problem solving using the latest web technologies (Node, Ruby on Rails, PostgreSQL, Express, Angular).</p>
					</div>
					
					<div class="profile col-sm-3">
						<div class="profilepic center-block" id="audrey"></div>
						<p class="name">Audrey</p>
						<p>I am a Seattle-based Web developer with a growing passion in front-end development and data visualizations. When my head isn't in my laptop you can find me baking something sugary or outside enjoying a hike.</p>
					</div>
					<div class="profile col-sm-3">
						<div class="profilepic center-block" id="evan"></div>
						<p class="name">Evan</p>
						<p>I am a Web Developer specializing in creating interactive and dynamic online experiences. Outside of the internet you’ll find me creating & documenting new experiences with my camera in hand.</p>
					</div>
					<div class="profile col-sm-3">
						<div class="profilepic center-block" id="alexa"></div>
						<p class="name">Alexa</p>
						<p>I’m a Seattle based Web Developer with a passion for front-end development, UI, and design. When I’m not making beautiful interactive websites you can find me hiking or swing dancing.</p>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-sm-3">
					<div>
					<a target="_blank" href="https://github.com/abelmark/bankly"><i class="fa fa-github"></i></a>
					<a target="_blank" href="https://www.linkedin.com/in/markabelseattle"><i class="fa fa-linkedin-square"></i></a>
					</div>
				</div>
				<div class="col-sm-3">
					<a target="_blank" href="https://github.com/audreyandoy/bankly"><i class="fa fa-github"></i></a>
					<a target="_blank" href="https://www.linkedin.com/in/audreyandoy"><i class="fa fa-linkedin-square"></i></a>
				</div>
				<div class="col-sm-3">
					<a target="_blank" href="https://github.com/evwilkin/bankly"><i class="fa fa-github"></i></a>
					<a target="_blank" href="https://www.linkedin.com/in/evan-wilkinson-57394466"><i class="fa fa-linkedin-square"></i></a>
				</div>
				<div class="col-sm-3">
					<a target="_blank" href="https://github.com/aheitzen/bankly"><i class="fa fa-github"></i></a>
					<a target="_blank" href="https://www.linkedin.com/in/alexa-heitzenrader-09a536114"><i class="fa fa-linkedin-square"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal-id1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Login</h4>
				</div>
				<div class="modal-body">
						<!-- <h1>Log in</h1> -->

						<%= bootstrap_form_for :user, url: '/login' do |f| %>
							<%= f.text_field :email %>
							<%= f.password_field :password %>
							
							<%= f.submit "Login", class: "btn btn-primary" %>
					<% end %>				
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-id2">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Sign up</h4>
				</div>
				<div class="modal-body">
						<!-- <h1>Log in</h1> -->

					<%= bootstrap_form_for :user, url: '/users' do |f| %>
						<%= f.text_field :name %>
						<%= f.text_field :email %>
	  				<%= f.number_field :"Monthly Budget" %>
	  				<%= f.number_field :"Monthly Income" %>
						<%= f.password_field :password %>
						<%= f.password_field :password_confirmation %>
						
						<%= f.submit "Sign Up", class: "btn btn-primary" %>
					<% end %>				
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>
</div>

