<% if @current_user %>
	<%= link_to "Logout", logout_path %>
	<%= link_to "Profile", users_show_path %>
<% else %>
	<%= link_to "Login", login_path %>
	<%= link_to "Sign up", users_path %>
<% end %>
<div class="main">
	<div id="fullpage">
		<div class="section">
			<div class='row text-center'>
				<div class='col-sm-8 col-sm-offset-2'>
					<h1>Bankly</h1>
					<p class='tag-line'>Some catchy tagline</p>
					<% if @user %>
						<button class='btn-xlarge btn-primary', data-toggle="modal" href='#modal-id'>Login</button>
							<br />
						<p>New to the site? <%= link_to "Sign up", users_path, id: "sign_up" %></p>				
					<% end %>
				</div>
			</div>
		</div>
		<div class="section hidden-xs">
			<div class='row text-center'>
				<h1>About</h1>
				<div id="profiles">
					<div class="col-sm-3">
						<div class="profilepic" id="mark"></div>
						<p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="profile col-sm-3">
						<div class="profilepic" id="audrey"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					</div>
					<div class="profile col-sm-3">
						<div class="profilepic" id="evan"></div>
						<p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					</div>
					<div class="profile col-sm-3">
						<div class="profilepic" id="alexa"></div>
						<p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-id">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Login</h4>
				</div>
				<div class="modal-body">
						<!-- <h1>Log in</h1> -->

						<%= form_for :user, url: '/login' do |f| %>
							<%= f.label :email %>
							<%= f.text_field :email %>
							<br />
							<%= f.label :password %>
							<%= f.password_field :password %>
							
							<%= f.submit "login" %>
					<% end %>				
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>

