<h1>Add item</h1>

<%= form_for @line_item, validate: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :amount %>
  <%= f.number_field :amount %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :date %>
  <%= f.date_field :date %>

  <%= f.label :category %>
  <%= f.select :category_id, options_from_collection_for_select(@categories, 'id', 'name') %>

  <%= f.submit %>

<% end %>

