<!DOCTYPE html>
<html>
<head>
	
  <title>Bankly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arya' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" id="bankly">Bankly</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
       
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if @current_user %>
          <li class="<%= 'active' if params[:controller] == 'dashboard' %>"><a href="/dashboard">Dashboard</a></li>
          <li class="<%= 'active' if params[:controller] == 'line_items' %>"><a href="/items/show">My Items</a></li>
          <li ><a href='#modal-id3' data-toggle="modal">Add Item</a></li>
          <li ><a href='/profile'>Profile</a></li>
          <li><a href="/logout">Logout</a></li>

        <% end %>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
	<div class = 'container'>
		<%= render "layouts/flash" %>
		<%= yield %>
	</div>

 <div class="modal fade" id="modal-id3">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add Items</h4>
        </div>
        
        <div class="modal-body">
          <!-- <h1>Log in</h1> -->  
          <%= bootstrap_form_for line_item, url: '/items' do |f| %>
            <%= f.text_field :name, :required => true %>
            <%= f.number_field :amount, :required => true %>
            <%= f.text_field :description, :required => true %>
            <%= f.date_field :date, :required => true %>
            <%= f.select :category_id, options_from_collection_for_select(categories, 'id', 'name') %>
            <%= f.submit "Add item", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>
